<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="ProductCategory">
    
    <resultMap id="productCategoryResult" type="productCategory">
        <result property="id" column="id" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="thumb" column="thumb" />
        <result property="bgImage" column="bgImage" />
        <result property="description" column="description" />
        <result property="showYn" column="showYn" />
        <result property="recommandYn" column="recommandYn" />
        <result property="homeYn" column="homeYn" />
        <result property="advImage" column="advImage" />
        <result property="advUrl" column="advUrl" />
        <result property="sort" column="sort" />
        <result property="parent" column="parent" />
        <result property="parentYn" column="parentYn" />
        <result property="deleteYn" column="deleteYn" />
        <result property="disabledYn" column="disabledYn" />
        <result property="createUser" column="createUser" />
        <result property="createTime" column="createTime" />
        <result property="updateUser" column="updateUser" />
        <result property="updateTime" column="updateTime" />
    </resultMap>
	
	<resultMap id="productCategoryResultEx" type="productCategory">
        <result property="id" column="id" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="thumb" column="thumb" />
        <result property="bgImage" column="bgImage" />
        <result property="description" column="description" />
        <result property="showYn" column="showYn" />
        <result property="recommandYn" column="recommandYn" />
        <result property="homeYn" column="homeYn" />
        <result property="advImage" column="advImage" />
        <result property="advUrl" column="advUrl" />
        <result property="sort" column="sort" />
        <result property="parent" column="parent" />
        <result property="parentYn" column="parentYn" />
        <result property="deleteYn" column="deleteYn" />
        <result property="disabledYn" column="disabledYn" />
        <result property="createUser" column="createUser" />
        <result property="createTime" column="createTime" />
        <result property="updateUser" column="updateUser" />
        <result property="updateTime" column="updateTime" />
        <collection property="subCatList" ofType="productCategory"
           column="code" select="getSubCat">
        </collection>
        <!-- <collection property="productList" ofType="product"
           column="code" select="Product.selectByPrdCatCode">
        </collection> -->
    </resultMap>
    
    <!-- 用于select查询公用抽取的列 -->
    <sql id="productCategoryColumns">
        <![CDATA[
        T1.id,
        T1.code,
        T1.name,
        T1.thumb,
        T1.bgImage,
        T1.description,
        T1.showYn,
        T1.recommandYn,
        T1.homeYn,
        T1.advImage,
        T1.advUrl,
        T1.sort,
        T1.parent,
        T1.parentYn,
        T1.deleteYn,
        T1.disabledYn,
        T1.createUser,
        T1.createTime,
        T1.updateUser,
        T1.updateTime
        ]]>
    </sql>
    
    <!-- 查询from -->
    <sql id="dynamicFrom">
        FROM TBL_ProductCategory T1
    </sql>
    
    <!-- 查询选择colum -->
    <sql id="dynamicSelect">
        SELECT
        <include refid="productCategoryColumns" />
        <include refid="dynamicFrom" />
    </sql>
    
    <!-- 查询条件 -->
    <sql id="dynamicCondition">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用framework中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <if test="id != null">
            AND T1.id = #{id}
        </if>
        <if test="idEx != null">
            AND T1.id != #{idEx}
        </if>
        <if test="@Ognl@isNotEmpty(code)">
            AND T1.code = #{code}
        </if>
        <if test="@Ognl@isNotEmpty(name)">
            AND T1.name = #{name}
        </if>
        <if test="@Ognl@isNotEmpty(thumb)">
            AND T1.thumb = #{thumb}
        </if>
        <if test="@Ognl@isNotEmpty(bgImage)">
            AND T1.bgImage = #{bgImage}
        </if>
        <if test="@Ognl@isNotEmpty(description)">
            AND T1.description = #{description}
        </if>
        <if test="@Ognl@isNotEmpty(showYn)">
            AND T1.showYn = #{showYn}
        </if>
        <if test="@Ognl@isNotEmpty(recommandYn)">
            AND T1.recommandYn = #{recommandYn}
        </if>
        <if test="@Ognl@isNotEmpty(homeYn)">
            AND T1.homeYn = #{homeYn}
        </if>
        <if test="@Ognl@isNotEmpty(advImage)">
            AND T1.advImage = #{advImage}
        </if>
        <if test="@Ognl@isNotEmpty(advUrl)">
            AND T1.advUrl = #{advUrl}
        </if>
        <if test="sort != null">
            AND T1.sort = #{sort}
        </if>
        <if test="@Ognl@isNotEmpty(parent)">
            AND T1.parent = #{parent}
        </if>
        <if test="@Ognl@isNotEmpty(parentYn)">
            AND T1.parentYn = #{parentYn}
        </if>
        <if test="@Ognl@isNotEmpty(deleteYn)">
            AND T1.deleteYn = #{deleteYn}
        </if>
        <if test="@Ognl@isNotEmpty(disabledYn)">
            AND T1.disabledYn = #{disabledYn}
        </if>
        <if test="@Ognl@isNotEmpty(createUser)">
            AND T1.createUser = #{createUser}
        </if>
        <if test="@Ognl@isNotEmpty(updateUser)">
            AND T1.updateUser = #{updateUser}
        </if>
    </sql>
    
    <!-- 查询where条件 -->
    <sql id="dynamicWhere">
        <where>
            <include refid="dynamicCondition" />
        </where>
    </sql>
    
    <!-- 查询where条件(map) -->
    <sql id="dynamicWhereEx">
        <where>
            <include refid="dynamicCondition" />
            <if test="@Ognl@isNotEmpty(createTimeBegin)">
                <![CDATA[AND T1.createTime >= #{createTimeBegin}]]>
            </if>
            <if test="@Ognl@isNotEmpty(createTimeEnd)">
                <![CDATA[AND T1.createTime < date_add(#{createTimeEnd}, INTERVAL 1 DAY)]]>
            </if>
            <if test="@Ognl@isNotEmpty(updateTimeBegin)">
                <![CDATA[AND T1.updateTime >= #{updateTimeBegin}]]>
            </if>
            <if test="@Ognl@isNotEmpty(updateTimeEnd)">
                <![CDATA[AND T1.updateTime < date_add(#{updateTimeEnd}, INTERVAL 1 DAY)]]>
            </if>
			<if test="@Ognl@isNotEmpty(istop)">
                 AND (T1.parent = '0' or  T1.parent is null or  T1.parent='')
            </if>
        </where>
    </sql>

    <!-- 排序条件 -->
    <sql id="dynamicOrderBy">
        <choose>
            <when test="@Ognl@isNotEmpty(orderBy)">
                <trim suffix="" suffixOverrides="order by">
                <foreach collection="orderBy" item="order" open="order by " separator="," close=" ">
                <choose>
                    <when test="order.propertyName == 'id'">
                        T1.id <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'id'">
                        T1.id <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'code'">
                        T1.code <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'name'">
                        T1.name <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'thumb'">
                        T1.thumb <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'bgImage'">
                        T1.bgImage <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'description'">
                        T1.description <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'showYn'">
                        T1.showYn <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'recommandYn'">
                        T1.recommandYn <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'homeYn'">
                        T1.homeYn <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'advImage'">
                        T1.advImage <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'advUrl'">
                        T1.advUrl <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'sort'">
                        T1.sort <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'parent'">
                        T1.parent <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'parentYn'">
                        T1.parentYn <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'deleteYn'">
                        T1.deleteYn <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'disabledYn'">
                        T1.disabledYn <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'createUser'">
                        T1.createUser <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'createTime'">
                        T1.createTime <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'updateUser'">
                        T1.updateUser <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'updateTime'">
                        T1.updateTime <if test="!order.ascending"> desc </if>
                    </when>
                </choose>
                </foreach>
                </trim>
            </when>
            <otherwise>
            order by T1.id desc
            </otherwise>
        </choose>
    </sql>
    
    <!-- 单条录入  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO TBL_ProductCategory (
            code ,
            name ,
            thumb ,
            bgImage ,
            description ,
            showYn ,
            recommandYn ,
            homeYn ,
            advImage ,
            advUrl ,
            sort ,
            parent ,
            parentYn ,
            deleteYn ,
            disabledYn ,
            createUser ,
            createTime ,
            updateUser ,
            updateTime 
            ) VALUES (
            #{code} ,
            #{name} ,
            #{thumb} ,
            #{bgImage} ,
            #{description} ,
            #{showYn} ,
            #{recommandYn} ,
            #{homeYn} ,
            #{advImage} ,
            #{advUrl} ,
            #{sort} ,
            #{parent} ,
            #{parentYn} ,
            #{deleteYn} ,
            #{disabledYn} ,
            #{createUser} ,
            #{createTime} ,
            #{updateUser} ,
            #{updateTime} 
            )
        ]]>
        <selectKey resultType="java.lang.Long"
            order="AFTER"
            keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    
    <!-- 批量录入  -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO TBL_ProductCategory (
            code ,
            name ,
            thumb ,
            bgImage ,
            description ,
            showYn ,
            recommandYn ,
            homeYn ,
            advImage ,
            advUrl ,
            sort ,
            parent ,
            parentYn ,
            deleteYn ,
            disabledYn ,
            createUser ,
            createTime ,
            updateUser ,
            updateTime 
            ) 
            VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.code} ,
            #{item.name} ,
            #{item.thumb} ,
            #{item.bgImage} ,
            #{item.description} ,
            #{item.showYn} ,
            #{item.recommandYn} ,
            #{item.homeYn} ,
            #{item.advImage} ,
            #{item.advUrl} ,
            #{item.sort} ,
            #{item.parent} ,
            #{item.parentYn} ,
            #{item.deleteYn} ,
            #{item.disabledYn} ,
            #{item.createUser} ,
            #{item.createTime} ,
            #{item.updateUser} ,
            #{item.updateTime} 
            )
        </foreach>
    </insert>
    
    <!-- 单条修改  -->
    <update id="update">
        UPDATE TBL_ProductCategory
        <set>
            <if test="@Ognl@isNotEmpty(code)">
                code = #{code},
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                name = #{name},
            </if>
            <if test="@Ognl@isNotEmpty(thumb)">
                thumb = #{thumb},
            </if>
            <if test="@Ognl@isNotEmpty(bgImage)">
                bgImage = #{bgImage},
            </if>
            <if test="@Ognl@isNotEmpty(description)">
                description = #{description},
            </if>
            <if test="@Ognl@isNotEmpty(showYn)">
                showYn = #{showYn},
            </if>
            <if test="@Ognl@isNotEmpty(recommandYn)">
                recommandYn = #{recommandYn},
            </if>
            <if test="@Ognl@isNotEmpty(homeYn)">
                homeYn = #{homeYn},
            </if>
            <if test="@Ognl@isNotEmpty(advImage)">
                advImage = #{advImage},
            </if>
            <if test="@Ognl@isNotEmpty(advUrl)">
                advUrl = #{advUrl},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="@Ognl@isNotEmpty(parent)">
                parent = #{parent},
            </if>
            <if test="@Ognl@isNotEmpty(parentYn)">
                parentYn = #{parentYn},
            </if>
            <if test="@Ognl@isNotEmpty(deleteYn)">
                deleteYn = #{deleteYn},
            </if>
            <if test="@Ognl@isNotEmpty(disabledYn)">
                disabledYn = #{disabledYn},
            </if>
            <if test="@Ognl@isNotEmpty(createUser)">
                createUser = #{createUser},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="@Ognl@isNotEmpty(updateUser)">
                updateUser = #{updateUser},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime}
            </if>
        </set>
        WHERE 
            id = #{id}
    </update>
    
    <!-- 单条修改所有属性  -->
    <update id="updateAll">
    <![CDATA[
        UPDATE TBL_ProductCategory SET
            code = #{code} ,
            name = #{name} ,
            thumb = #{thumb} ,
            bgImage = #{bgImage} ,
            description = #{description} ,
            showYn = #{showYn} ,
            recommandYn = #{recommandYn} ,
            homeYn = #{homeYn} ,
            advImage = #{advImage} ,
            advUrl = #{advUrl} ,
            sort = #{sort} ,
            parent = #{parent} ,
            parentYn = #{parentYn} ,
            deleteYn = #{deleteYn} ,
            disabledYn = #{disabledYn} ,
            createUser = #{createUser} ,
            createTime = #{createTime} ,
            updateUser = #{updateUser} ,
            updateTime = #{updateTime} 
        WHERE 
            id = #{id} 
    ]]>
    </update>

    <!-- 删除主键  -->
    <delete id="deleteByPK">
    <![CDATA[
        DELETE FROM TBL_ProductCategory WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <!-- 删除主键数组  -->
    <delete id="deleteByArrPK" parameterType="java.util.List">
        <![CDATA[DELETE FROM TBL_ProductCategory WHERE]]>
        <foreach collection="list" item="item" index="index" open="id in (" separator="," close=")">
            <![CDATA[#{item}]]>
        </foreach>
    </delete>
    
    <!-- 删除条件  -->
    <delete id="delete">
        <![CDATA[DELETE T1 FROM TBL_ProductCategory T1 ]]>
        <include refid="dynamicWhere" />
    </delete>
    
    <!-- 主键查询  -->
    <select id="selectByPK" parameterType="java.lang.Long" resultMap="productCategoryResult">
        <include refid="dynamicSelect" />
        <![CDATA[
            WHERE 
            T1.id = #{id} 
        ]]>
    </select>
    
    <!-- 查询是否存在主键 -->
    <select id="existsByPK" parameterType="java.lang.Long"
        resultType="boolean">
        SELECT min(1)
        <include refid="dynamicFrom" />
        <![CDATA[
        WHERE
        T1.id = #{id} 
        ]]>
    </select>
    
    <!-- 查询是否存在对象 -->
    <select id="exists" parameterType="productCategory"
        resultType="boolean">
        SELECT min(1)
        <include refid="dynamicFrom" />
        <include refid="dynamicWhere" />
    </select>
    
    <!-- 查询总数 -->
    <select id="count" resultType="int">
        SELECT count(1)
        <include refid="dynamicFrom" />
        <include refid="dynamicWhere" />
    </select>
    
    <!-- 查询总数参数Map -->
    <select id="countByMap" resultType="int" parameterType="map">
        SELECT count(1)
        <include refid="dynamicFrom" />
        <include refid="dynamicWhereEx" />
    </select>
    
    <!-- 分页查询数量 -->
    <select id="pageCount" resultType="int"
        parameterType="map">
        SELECT count(1)
        <include refid="dynamicFrom" />
        <include refid="dynamicWhereEx" />
    </select>
    
    <!-- 分页查询 -->
    <select id="pageQuery" resultMap="productCategoryResult"
        parameterType="map">
        <include refid="Common.pageStart" />
        <include refid="dynamicSelect" />
        <include refid="dynamicWhereEx" />
        <include refid="dynamicOrderBy" />
        <include refid="Common.pageEnd" />
    </select>

    <!-- 查询条件Map -->
    <select id="selectByMap" resultMap="productCategoryResult"
        parameterType="map">
        <include refid="dynamicSelect" />
        <include refid="dynamicWhereEx" />
        <include refid="dynamicOrderBy" />
    </select>

    <!-- 查询条件对象 -->
    <select id="select" resultMap="productCategoryResult"
        parameterType="productCategory">
        <include refid="dynamicSelect" />
        <include refid="dynamicWhere" />
        order by T1.id desc
    </select>

    <!-- 查询条件拼接 -->
    <select id="selectByCriteria" resultMap="productCategoryResult"
        parameterType="map">
        <include refid="Common.pageStart" />
        <include refid="dynamicSelect" />
        <if test="_parameter != null">
            <include refid="Common.criteria_Where_Clause" />
        </if>
        <include refid="dynamicOrderBy" />
        <include refid="Common.pageEnd" />
    </select>
    
    <!-- 唯一值查询 -->
    <select id="getByCode" resultMap="productCategoryResult">
        <include refid="dynamicSelect" />
        <![CDATA[
        WHERE T1.code = #{code}
        ]]>
    </select>
    
    <!-- 属性值是否存在 -->
    <select id="existsByCode" parameterType="map"
        resultType="boolean">
        <![CDATA[
        SELECT min(1)
        ]]>
        <include refid="dynamicFrom" />
        <where>
            <if test="@Ognl@isNotEmpty(codeEq)">
                <![CDATA[T1.code = #{codeEq} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(codeNotEq)">
                <![CDATA[ AND T1.code <> #{codeNotEq} ]]>
            </if>
        </where>
    </select>
	
	<!-- ex -->
    <!-- 查询第一季类目 -->
    <select id="getTopCat" resultMap="productCategoryResult"
        parameterType="map">
        <include refid="dynamicSelect" />
        <where>
            (T1.parent = '0' or  T1.parent is null or  T1.parent='')
            AND T1.deleteYn = '0'
            AND T1.disabledYn = '0'
        </where>
        <include refid="dynamicWhereEx" />
        <include refid="dynamicOrderBy" />
    </select>
    
    <!-- 根据父类目的code查询子类目 -->
    <select id="getSubCat" resultMap="productCategoryResultEx"
        parameterType="String">
        
        select *  from TBL_ProductCategory T2  WHERE
        T2.parent = #{code}
       
        AND T2.deleteYn = '0'
        AND T2.disabledYn = '0'
        order by sort ,id, name asc
       
    </select>
    
    
    <select id="getSubCatByMap" resultMap="productCategoryResultEx"
        parameterType="map">
        
        select *  from TBL_ProductCategory T2  WHERE
        T2.parent = #{code}
         <if test="@Ognl@isNotEmpty(showYn)">
             AND   T2.showYn = #{showYn}
         </if>
        AND T2.deleteYn = '0'
        AND T2.disabledYn = '0'
        order by sort,name asc
       
    </select>
    
    <!-- 根据父类目的code查询子类目 -->
    <select id="getMaxCatCode" resultType="String">
        
        select  code  from TBL_ProductCategory T2  WHERE
        
         T2.id = (select max(id) from TBL_ProductCategory)
        order by id desc
       
    </select>
    
    <select id="getAllCat" resultMap="productCategoryResult">
       select  *  from TBL_ProductCategory T1  WHERE
         T1.deleteYn = '0'
       AND T1.disabledYn = '0'
       and T1.parent='0'
        order by T1.id 
    </select>
    
    
</mapper>

