<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="Region">
    
    <resultMap id="regionResult" type="region">
        <result property="code" column="code" />
        <result property="parent" column="parent" />
        <result property="name" column="name" />
        <result property="shortname" column="shortname" />
        <result property="longitude" column="longitude" />
        <result property="latitude" column="latitude" />
        <result property="level" column="level" />
        <result property="sort" column="sort" />
        <result property="status" column="status" />
        <result property="deleteYn" column="deleteYn" />
        <result property="disabledYn" column="disabledYn" />
        <result property="createUser" column="createUser" />
        <result property="createTime" column="createTime" />
        <result property="updateUser" column="updateUser" />
        <result property="updateTime" column="updateTime" />
    </resultMap>
    
    <!-- 用于select查询公用抽取的列 -->
    <sql id="regionColumns">
        <![CDATA[
        T1.code,
        T1.parent,
        T1.name,
        T1.shortname,
        T1.longitude,
        T1.latitude,
        T1.level,
        T1.sort,
        T1.status,
        T1.deleteYn,
        T1.disabledYn,
        T1.createUser,
        T1.createTime,
        T1.updateUser,
        T1.updateTime
        ]]>
    </sql>
    
    <!-- 查询from -->
    <sql id="dynamicFrom">
        FROM tbl_region T1
    </sql>
    
    <!-- 查询选择colum -->
    <sql id="dynamicSelect">
        SELECT
        <include refid="regionColumns" />
        <include refid="dynamicFrom" />
    </sql>
    
    <!-- 查询条件 -->
    <sql id="dynamicCondition">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用framework中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <if test="code != null">
            AND T1.code = #{code}
        </if>
        <if test="codeEx != null">
            AND T1.code != #{codeEx}
        </if>
        <if test="parent != null">
            AND T1.parent = #{parent}
        </if>
        <if test="@Ognl@isNotEmpty(name)">
            AND T1.name = #{name}
        </if>
        <if test="@Ognl@isNotEmpty(shortname)">
            AND T1.shortname = #{shortname}
        </if>
        <if test="@Ognl@isNotEmpty(longitude)">
            AND T1.longitude = #{longitude}
        </if>
        <if test="@Ognl@isNotEmpty(latitude)">
            AND T1.latitude = #{latitude}
        </if>
        <if test="level != null">
            AND T1.level = #{level}
        </if>
        <if test="sort != null">
            AND T1.sort = #{sort}
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            AND T1.status = #{status}
        </if>
        <if test="@Ognl@isNotEmpty(deleteYn)">
            AND T1.deleteYn = #{deleteYn}
        </if>
        <if test="@Ognl@isNotEmpty(disabledYn)">
            AND T1.disabledYn = #{disabledYn}
        </if>
        <if test="@Ognl@isNotEmpty(createUser)">
            AND T1.createUser = #{createUser}
        </if>
        <if test="@Ognl@isNotEmpty(updateUser)">
            AND T1.updateUser = #{updateUser}
        </if>
    </sql>
    
    <!-- 查询where条件 -->
    <sql id="dynamicWhere">
        <where>
            <include refid="dynamicCondition" />
        </where>
    </sql>
    
    <!-- 查询where条件(map) -->
    <sql id="dynamicWhereEx">
        <where>
            <include refid="dynamicCondition" />
            <if test="@Ognl@isNotEmpty(createTimeBegin)">
                <![CDATA[AND T1.createTime >= #{createTimeBegin}]]>
            </if>
            <if test="@Ognl@isNotEmpty(createTimeEnd)">
                <![CDATA[AND T1.createTime < date_add(#{createTimeEnd}, INTERVAL 1 DAY)]]>
            </if>
            <if test="@Ognl@isNotEmpty(updateTimeBegin)">
                <![CDATA[AND T1.updateTime >= #{updateTimeBegin}]]>
            </if>
            <if test="@Ognl@isNotEmpty(updateTimeEnd)">
                <![CDATA[AND T1.updateTime < date_add(#{updateTimeEnd}, INTERVAL 1 DAY)]]>
            </if>
        </where>
    </sql>

    <!-- 排序条件 -->
    <sql id="dynamicOrderBy">
        <choose>
            <when test="@Ognl@isNotEmpty(orderBy)">
                <trim suffix="" suffixOverrides="order by">
                <foreach collection="orderBy" item="order" open="order by " separator="," close=" ">
                <choose>
                    <when test="order.propertyName == 'id'">
                        T1.code <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'code'">
                        T1.code <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'parent'">
                        T1.parent <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'name'">
                        T1.name <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'shortname'">
                        T1.shortname <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'longitude'">
                        T1.longitude <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'latitude'">
                        T1.latitude <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'level'">
                        T1.level <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'sort'">
                        T1.sort <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'status'">
                        T1.status <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'deleteYn'">
                        T1.deleteYn <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'disabledYn'">
                        T1.disabledYn <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'createUser'">
                        T1.createUser <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'createTime'">
                        T1.createTime <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'updateUser'">
                        T1.updateUser <if test="!order.ascending"> desc </if>
                    </when>
                    <when test="order.propertyName == 'updateTime'">
                        T1.updateTime <if test="!order.ascending"> desc </if>
                    </when>
                </choose>
                </foreach>
                </trim>
            </when>
            <otherwise>
            order by T1.code desc
            </otherwise>
        </choose>
    </sql>
    
    <!-- 单条录入  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="code">
        <![CDATA[
            INSERT INTO tbl_region (
            parent ,
            name ,
            shortname ,
            longitude ,
            latitude ,
            level ,
            sort ,
            status ,
            deleteYn ,
            disabledYn ,
            createUser ,
            createTime ,
            updateUser ,
            updateTime 
            ) VALUES (
            #{parent} ,
            #{name} ,
            #{shortname} ,
            #{longitude} ,
            #{latitude} ,
            #{level} ,
            #{sort} ,
            #{status} ,
            #{deleteYn} ,
            #{disabledYn} ,
            #{createUser} ,
            #{createTime} ,
            #{updateUser} ,
            #{updateTime} 
            )
        ]]>
        <selectKey resultType="java.lang.Integer"
            order="AFTER"
            keyProperty="code">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    
    <!-- 批量录入  -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO tbl_region (
            parent ,
            name ,
            shortname ,
            longitude ,
            latitude ,
            level ,
            sort ,
            status ,
            deleteYn ,
            disabledYn ,
            createUser ,
            createTime ,
            updateUser ,
            updateTime 
            ) 
            VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.parent} ,
            #{item.name} ,
            #{item.shortname} ,
            #{item.longitude} ,
            #{item.latitude} ,
            #{item.level} ,
            #{item.sort} ,
            #{item.status} ,
            #{item.deleteYn} ,
            #{item.disabledYn} ,
            #{item.createUser} ,
            #{item.createTime} ,
            #{item.updateUser} ,
            #{item.updateTime} 
            )
        </foreach>
    </insert>
    
    <!-- 单条修改  -->
    <update id="update">
        UPDATE tbl_region
        <set>
            <if test="parent != null">
                parent = #{parent},
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                name = #{name},
            </if>
            <if test="@Ognl@isNotEmpty(shortname)">
                shortname = #{shortname},
            </if>
            <if test="@Ognl@isNotEmpty(longitude)">
                longitude = #{longitude},
            </if>
            <if test="@Ognl@isNotEmpty(latitude)">
                latitude = #{latitude},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="@Ognl@isNotEmpty(status)">
                status = #{status},
            </if>
            <if test="@Ognl@isNotEmpty(deleteYn)">
                deleteYn = #{deleteYn},
            </if>
            <if test="@Ognl@isNotEmpty(disabledYn)">
                disabledYn = #{disabledYn},
            </if>
            <if test="@Ognl@isNotEmpty(createUser)">
                createUser = #{createUser},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="@Ognl@isNotEmpty(updateUser)">
                updateUser = #{updateUser},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime}
            </if>
        </set>
        WHERE 
            code = #{code}
    </update>
    
    <!-- 单条修改所有属性  -->
    <update id="updateAll">
    <![CDATA[
        UPDATE tbl_region SET
            parent = #{parent} ,
            name = #{name} ,
            shortname = #{shortname} ,
            longitude = #{longitude} ,
            latitude = #{latitude} ,
            level = #{level} ,
            sort = #{sort} ,
            status = #{status} ,
            deleteYn = #{deleteYn} ,
            disabledYn = #{disabledYn} ,
            createUser = #{createUser} ,
            createTime = #{createTime} ,
            updateUser = #{updateUser} ,
            updateTime = #{updateTime} 
        WHERE 
            code = #{code} 
    ]]>
    </update>

    <!-- 删除主键  -->
    <delete id="deleteByPK">
    <![CDATA[
        DELETE FROM tbl_region WHERE
        code = #{code} 
    ]]>
    </delete>
    
    <!-- 删除主键数组  -->
    <delete id="deleteByArrPK" parameterType="java.util.List">
        <![CDATA[DELETE FROM tbl_region WHERE]]>
        <foreach collection="list" item="item" index="index" open="code in (" separator="," close=")">
            <![CDATA[#{item}]]>
        </foreach>
    </delete>
    
    <!-- 删除条件  -->
    <delete id="delete">
        <![CDATA[DELETE T1 FROM tbl_region T1 ]]>
        <include refid="dynamicWhere" />
    </delete>
    
    <!-- 主键查询  -->
    <select id="selectByPK" parameterType="java.lang.Integer" resultMap="regionResult">
        <include refid="dynamicSelect" />
        <![CDATA[
            WHERE 
            T1.code = #{code} 
        ]]>
    </select>
    
    <!-- 查询是否存在主键 -->
    <select id="existsByPK" parameterType="java.lang.Integer"
        resultType="boolean">
        SELECT min(1)
        <include refid="dynamicFrom" />
        <![CDATA[
        WHERE
        T1.code = #{code} 
        ]]>
    </select>
    
    <!-- 查询是否存在对象 -->
    <select id="exists" parameterType="region"
        resultType="boolean">
        SELECT min(1)
        <include refid="dynamicFrom" />
        <include refid="dynamicWhere" />
    </select>
    
    <!-- 查询总数 -->
    <select id="count" resultType="int">
        SELECT count(1)
        <include refid="dynamicFrom" />
        <include refid="dynamicWhere" />
    </select>
    
    <!-- 查询总数参数Map -->
    <select id="countByMap" resultType="int" parameterType="map">
        SELECT count(1)
        <include refid="dynamicFrom" />
        <include refid="dynamicWhereEx" />
    </select>
    
    <!-- 分页查询数量 -->
    <select id="pageCount" resultType="int"
        parameterType="map">
        SELECT count(1)
        <include refid="dynamicFrom" />
        <include refid="dynamicWhereEx" />
    </select>
    
    <!-- 分页查询 -->
    <select id="pageQuery" resultMap="regionResult"
        parameterType="map">
        <include refid="Common.pageStart" />
        <include refid="dynamicSelect" />
        <include refid="dynamicWhereEx" />
        <include refid="dynamicOrderBy" />
        <include refid="Common.pageEnd" />
    </select>

    <!-- 查询条件Map -->
    <select id="selectByMap" resultMap="regionResult"
        parameterType="map">
        <include refid="dynamicSelect" />
        <include refid="dynamicWhereEx" />
        <include refid="dynamicOrderBy" />
    </select>

    <!-- 查询条件对象 -->
    <select id="select" resultMap="regionResult"
        parameterType="region">
        <include refid="dynamicSelect" />
        <include refid="dynamicWhere" />
        order by T1.code desc
    </select>

    <!-- 查询条件拼接 -->
    <select id="selectByCriteria" resultMap="regionResult"
        parameterType="map">
        <include refid="Common.pageStart" />
        <include refid="dynamicSelect" />
        <if test="_parameter != null">
            <include refid="Common.criteria_Where_Clause" />
        </if>
        <include refid="dynamicOrderBy" />
        <include refid="Common.pageEnd" />
    </select>
    
    
    
</mapper>

